__pycache__/
*.py[cod]
.Python
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
.env.stackexchange
.DS_Store
.ipynb_checkpoints/

raw_analysis/*/data/*
*/outputs/*
eval/results/
wandb/

**/outputs/**

**/downloads/**
**/corpora/**

paper/*
*.tex
*.bib