torch
transformers>=4.40.0
tqdm
numpy
scikit-learn
wandb>=0.16.0
tiktoken
kaggle
datasets>=2.19.0
huggingface_hub>=0.23.0
langdetect
safetensors
peft>=0.11.0

# export Kaggle auth
# export KAGGLE_USERNAME=YOUR_KAGGLE_USERNAME
# export KAGGLE_KEY=YOUR_KAGGLE_API_KEY
